body {
  background: green;
}
.card {
  display: inline-flex;
  margin: 4px;
  height: 100px;
  width: 60px;
  border-radius: 10px;
  border: 1px solid black;
  background: white;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.438);
}

.card:before {
  position: absolute;
  top: 0px;
  left: 5px;
  font-size: 25px;
}

.card:after {
  position: absolute;
  bottom: 0px;
  right: 5px;
  font-size: 25px;
}

.card.spade:before,
.card.spade:after {
  content: "\2660";
}
.card.club:before,
.card.club:after {
  content: "\2663";
}
.card.heart:before,
.card.heart:after {
  content: "\2665";
  color: red;
}
.card.diamond:before,
.card.diamond:after {
  content: "\2666";
  color: red;
}

.input {
  margin-top: 5px;
  margin-bottom: 7px;
  display: inline-flex;
  font-weight: bold;
}

#inputnumber {
  margin-left: 4px;
  padding: 0;
}

.boton {
  margin-top: 5px;
  margin-bottom: 7px;
  display: inline;
  align-items: center;
}

.Optionrandom {
  margin-top: 5px;
  font-weight: bold;
}
